apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  apiBaseUrl: {{ .Values.apiBaseUrl | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
data:
  apiKey: {{ .Values.apiKey | b64enc }}
