apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: distro.linux.io
spec:
  group: linux.io
  scope: Namespaced
  names:
    kind: Distro
    plural: distro
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                name:
                  type: string
                version:
                  type: string
                base:
                  type: string
                  enum: [arch, fedora, debian]
